*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#everything {
    background-color: #222222;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw 12.5vw;
    grid-template-rows: 10vh 25vh 60vh;
    grid-template-areas:
        'header header header nav'
        'photos photos photos nav'
        'main main main nav';
    margin: 0;
}
#header {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    height: 10vh;
    width: 90vw;
}
#photoScroll {
    background-color: black;
    grid-area: photos;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
}
#first,
#second,
#third {
    display: flex;
    max-width: 30vw;
    max-height: 25vh;
}
#first {
    justify-content: center;
    align-items: flex-end;
}
#second {
    justify-content: center;
    align-items: center;
}
#third {
    justify-content: center;
    align-items: center;
}
#logo {
    height: 10vh;
}
.active {
    position: absolute;
    max-width: 30vw;
    max-height: 25vh;
}
.onDeck {
    position: absolute;
    max-width: 30vw;
    max-height: 25vh;
}

.main {
    grid-area: main;
    width: 90vw;
    height: 65vh;
    color: white;

}
.main > span {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 10vh;
}
#geaux,
#nola {
    justify-self: flex-start;
    font-size: 3.5rem;
    font-weight: 600;
    color: black;

}
#blue {
    font-size: 4rem;
    font-weight: 800;
}
.nav {
    grid-area: nav;
    height: 100vh;
    width: 10vw;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 500ms ease-in;
}
#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.active {
    opacity: 1;
    animation: fade-out 3s linear 5s 1 normal forwards;
}
.onDeck {
    opacity: 0;
    animation: fade-in 3s linear 5s 1 normal forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
