*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#everything {
    background-color: #222222;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 25vh 60vh;
    grid-template-areas:
        'header header header'
        'photos photos photos'
        'main main main';
    margin: 0;
    padding: 0
}
#header {
    position: absolute;
    top:0;
    box-sizing: content-box;
    grid-area: header;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 10vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}
li {
    display: flex;

    box-sizing: border-box;
    flex-flow: row wrap;
    text-decoration: none;
}
#header > div {
    position: relative;
    display: flex;
    max-width: 45vw;
    justify-content: center;
}
#header > ul {
    display: flex;
    justify-content: space-between;

}
#geaux,
#nola {
    color: black;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 600;
}
#blue {
    color: blue;
    font-weight: 800;
    font-size: 3rem;
}

#photoScroll {
    background-color: black;
    grid-area: photos;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-around;
    position: absolute;
    top: 15vh;
}
#first,
#second,
#third {
    display: flex;
    width: 30vw;
    height: 25vh;
}
#first {
    justify-content: center;
    align-items: flex-end;
}
#second {
    justify-content: center;
    align-items: center;
}
#third {
    justify-content: center;
    align-items: flex-start;
}
#logo {
    height: 10vh;
}
.active {
    position: absolute;
    max-width: 30vw;
    max-height: 25vh;
}
.onDeck {
    position: inherit;
    max-width: 30vw;
    max-height: 25vh;
}

.main {
    box-sizing: border-box;
    grid-area: main;
    width: 100vw;
    height: fit-content;
    min-height: 65vh;
    color: #eeeeee;
    background-color: #222222;
    padding: 8vw 10vh;
    display: inline;
    white-space: wrap;
    overflow: visible;
}
#nav {
    grid-area: nav;
    height: 100vh;
    max-width: 25vw;
    min-width: 10;
    position: fixed;
    right: 0;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}
#menu {
    display: flex;
    max-width: 25vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#first > .active {

    opacity: 1;
    animation: fade-out 3s linear 2s 1 normal forwards;
}
#first > .onDeck {
    opacity: 0;
    animation: fade-in 3s linear 2s 1 normal forwards;
}
#second > .active {
    opacity: 1;
    animation: fade-out 3s linear 4s 1 normal forwards;
}
#second > .onDeck {
    opacity: 0;
    animation: fade-in 3s linear 4s 1 normal forwards;
}
#third > .active {
    opacity: 1;
    animation: fade-out 3s linear 2s 1 normal forwards;
}
#third > .onDeck {
    opacity: 0;
    animation: fade-in 3s linear 5s 1 normal forwards;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
