div {
    position:flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 10vh;
}

.oldPic{
    position: absolute;
    top: 0;
    height: auto;
    width: auto;
    max-width: 40vw;
    max-height: 30vh;
    transition: all 2s ease-in-out
}
.newPic{
    position: absolute;
    top: 0;
    opacity: 0%;
    height: auto;
    width: auto;
    max-width: 40vw;
    max-height: 30vh;
    z-index: 0;

}
